extends layout

block content
  .ui.container
      .ui.message
        .header= 'Credits'
        p This tool wouldn't be possible without the gracious work of several people.
        ul.list
          li
            p
              | The main logo was designed by
              a(href='http://www.freepik.com/') Freepik
              | from 
              a(href='http://www.flaticon.com/') Flaticon
              | .
          li= 'The community at Semantic UI for a wonderfully simply UI framework.'
          li= 'Folks at Mongo DB for a DB that is trivial to use'
          li= 'The community that produced Node JS'
          li= 'The gods that had the foresight and prowess to conceive of C on which the world is built'
          li= 'All of the folks that have worked on *nix OS, culminating in linux. Thanks to Torvalds.'
