doctype html
html
  head
    title= title + ' | '  + appname
    link(rel='stylesheet', href=baseurl+'stylesheets/style.css')
    link(rel='stylesheet', href=baseurl+'semantic/dist/semantic.min.css')
  body
  .container
    .ui.menu
      .ui.item
        a(href=baseurl).ui.tiny.image
          img(src=baseurl + 'images/app_icon.png')
      .ui.right.dropdown.item
        i.content.large.icon
        .menu
          .item
            a(href='credits')= 'Credits'

    block content

  script(src=baseurl+'javascripts/jquery.js', type="text/javascript")
  script(src=baseurl+'javascripts/main.js', type="text/javascript")
  script(src=baseurl+'semantic/dist/semantic.min.js', type="text/javascript")
