extends layout

block content
  .ui.grid.container
    .centered.row
      h1= list.user + ' wants ...'

    if (!list.items)
      | No Items.
    .ui.centered.row.items
      .item
        .content.ui.segment
          form(id='form_item', action= baseurl + 'list/' + list._id + '/item/new', method='post').ui.form
            input(type='hidden', value=locals._csrf, name='_csrf').hidden
            .field
              input(id='fld_item_name', type='text', name='item_name', placeholder='Add a new item')
            .field(id='fld_item_link', style='display:none')
              input(type='text', name='item_link', placeholder='Item link')
            .field(id='fld_item_notes', style='display:none')
              textarea(rows='2', name='item_notes', placeholder='Notes')
            input.ui.button(id='btn_submit', type="submit", value='Submit', style='display:none')
            .field(id='fld_item_close', style='display:none').ui.button= 'Close'
    .ui.centered.row.cards
      each item, index in list.items
        .ui.card
          .image
            if (!item.image_url)
              img(src=baseurl + 'images/no_image.png')
            else
              img(src=baseurl + item.image_url)
          .content
            .right.floated.content
              a(href=baseurl + 'list/' + list._id + '/item/'+ index + '/edit')= 'edit'
            .header
              if (item.link)
                a(href=item.link)= item.name
              else
                = item.name
            if (item.notes)
              .meta
                span= 'Details'
              .description= item.notes
