extends layout

block content

  h1= list.name

  .list
    if (!list.items)
      | No Items.
    ol
      .item.add-task
        form(action='/' + list._id + '/item/new', method='post')
          input(type='hidden', value=locals._csrf, name='_csrf')
          div.name
            input(type='text', name='item_name', placeholder='Add a new item')
          div.link
            input(type='text', name='item_link', placeholder='Item link')
          div.notes
            input(type='text', name='item_notes', placeholder='Notes')
          div.delete
            input.btn.btn-primary.btn-sm(type="submit", value='add')
      each item, index in list.items
        .item
          li
            div.item
              div.item_name
                if (item.link)
                  a(href=item.link)= item.name
                else
                  = item.name
              if (item.notes)
                div.item_notes= item.notes
              div.actions
                a(href='/' + list._id + '/item/'+ index + '/edit')= 'edit'
